<h3>
    <%= @blog.title %>
</h3>
<h4>
    <%= @blog.content %>
</h4>
<%= button_to 'Delete Post', delete_blog_path, method: :delete %>
<%= link_to 'All Blog Posts', blogs_path %>
<%= button_to 'Edit Post', edit_blog_path %>
